@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Spartan:wght@700&display=swap");

@font-face {
    font-family: "bold";
    src: url("./bold.otf") format("opentype");
}

:root {
    --bg: #384146;
    --second: #293032;
    --point1: #03a051;
    --point2: #05ae6b;
    --point3: #58cd99;
    --cyan: #b4947f;
    --text: #f2eaeb;
    --text2: #eeeeee;
}

body {
    font-family: "Lato", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text);
    background-color: var(--bg);
    text-transform: uppercase;
    letter-spacing: 2px;
}

* {
    box-sizing: border-box;
}

h1 {
    flex-basis: 100%;
    font-size: 18pt;
    font-weight: normal;
    margin-bottom: 5px;
    font-family: "bold";
}

p.sub {
    margin-top: 0;
    font-size: 9pt;
    color: var(--point1);
}

div.wrapper {
    margin: 150px auto;
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
}

div.timezoneList {
    width: 350px;
}

div.home {
    width: 20px;
    font-size: 8pt;
    margin-right: 15px;
    text-align: center;
    vertical-align: center;
}

div.modify {
    width: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

div.home img {
    margin-top: 3px;
    width: 14px;
}

span.makeHome img {
    width: 13px;
    margin-top: 10px;
}

div.modify img {
    width: 15px;
    display: block;
}

div.modify img:first-of-type {
    width: 15px;
    display: block;
    margin-top: 3px;
}

div.search {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
}

div.search input[type="text"] {
    width: 400px;
    padding: 8px;
    border: none;
    color: inherit;
    font-family: inherit;
    background-color: var(--second);
    text-transform: uppercase;
    letter-spacing: 1px;
}

div.search input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    border: none;
    padding: 8px 20px;
    color: var(--text2);
    background-color: var(--point2);
    font-family: inherit;
    font-weight: 700;
    font-size: 9pt;
}

div.timezoneComp {
    letter-spacing: 1px;
    font-size: 8.5pt;
    width: 100%;
    display: flex;
    margin-bottom: 18px;
}

div.hoursList {
    width: 800px;
}

div.hoursComp {
    width: 100%;
    display: flex;
    height: 45px;
    padding: 0;
    margin-bottom: 37px;
}

div.hoursComp div.day {
    display: flex;
}

div.timezone {
    width: 270px;
}

div.timezone div.timezone1 {
    font-size: 11pt;
    margin-bottom: 7px;
}

div.timezone div.timezone1 .cityName {
    font-weight: 700;
}

div.timezone div.timezone2 {
    color: var(--point2);
    font-size: 7.5pt;
}

div.timezone div.timezone1,
div.timezone div.timezone2 {
    display: flex;
    justify-content: space-between;
}

span.abbrZone {
    border-radius: 40%;
}

div.day span {
    width: 33px;
    padding: 10px 0;
    font-size: 10pt;
    text-align: center;
    border-top: 1px solid var(--second);
    border-bottom: 1px solid var(--second);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    /* border: 1px solid var(--bg); */
    height: 35px;
    /* border-radius: 20%; */
}

div.day .date {
    padding: 6px 0;
    font-size: 7pt;
    text-align: center;
    background-color: var(--second);
    height: 35px;
    letter-spacing: 0;
}

span.focus {
    background-color: var(--point1);
    color: inherit;
}

ul.suggestionList {
    width: 400px;
    margin-top: 5px;
    padding: 0;
    z-index: 10;
    list-style-type: none;
    letter-spacing: 1px;
    font-size: 9pt;
    position: absolute;
    z-index: 10;
}

ul.suggestionList li {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    background-color: var(--second);
    cursor: hand;
}

ul.suggestionList li:hover {
    background: var(--cyan);
}

ul.suggestionList .listCountry {
    text-align: right;
    width: 45%;
}

span.highlight {
    background-color: var(--point2);
}

.ds-selected {
    background-color: var(--cyan) !important;
    color: white;
    font-weight: bold;
}

.today {
    background-color: var(--point1) !important;
    font-weight: 700;
}

.makeHome:hover,
.remove:hover {
    cursor: pointer;
}

.icon {
    transition: all 0.2s ease-in-out;
}
.icon:hover {
    transform: scale(1.2);
    filter: "brightness(200%)";
}

div.hoursList,
div.timezoneList {
    height: 90px;
    padding-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
